<h2>Beskjæring og fokus</h2>
<p>Hva er det mest beskjærte bildet som likevel er bra?</p>
<p>På høye, smale skjermer:</p>
<div class="cropping cropping__horizontal">
<img class="uploader-form--preview-image cropping--image cropping--image__horizontal" src="" alt="preview">
<div class="cropping--uninitialized-screen"></div>
<div class="cropping--guide cropping--guide__left"><div class="cropping--handle cropping--handle__left"></div></div>
<div class="cropping--guide cropping--guide__right"><div class="cropping--handle cropping--handle__right"></div></div>
</div>
<p>På lave, breie skjermer:</p>
<div class="cropping cropping__vertical">
<div class="cropping--uninitialized-screen"></div>
<img class="uploader-form--preview-image cropping--image cropping--image__vertical" src="" alt="preview">
<div class="cropping--guide cropping--guide__top"><div class="cropping--handle cropping--handle__top"></div></div>
<div class="cropping--guide cropping--guide__bottom"><div class="cropping--handle cropping--handle__bottom"></div></div>
</div>
