<h2>Beskjæring og fokus</h2>
<p>Hva er det mest beskjærte bildet som likevel er bra?</p>
<div class="cropping">
<img class="uploader-form--preview-image cropping--image" src="" alt="preview">
<div class="cropping--guide cropping--guide__left"></div>
<div class="cropping--guide cropping--guide__right"></div>
</div>
<div class="cropping">
<img class="uploader-form--preview-image cropping--image" src="" alt="preview">
<div class="cropping--guide cropping--guide__top"></div>
<div class="cropping--guide cropping--guide__bottom"></div>
</div>
