<form action="initiate_auth" method="POST">
    <input type="hidden" name="redirect" value="{{self_url}}">
    <p>Før du får slippe til må vi bare se at vi vet hvem du er. Det gjør
        vi ved at du sender inn eposadressen din her:</p>
    <input class="input-row input-row--input input-row__leftmost" id="email" type="email" name="email" placeholder="epostadresse" required><button class="input-row input-row--default-button input-row__rightmost" type="submit">Send inn 📨</button>
    <p>Deretter får du en epost som åpner opp for deg 😊</p>
    <p>Snakk med Magnus hvis det er noe som ikke fungerer som det skal.</p>
</form>
