<link href="../style.css" rel="stylesheet">
<article>
    <form id=form>
        <ul class="series">
        {{#series}}
            <li draggable=true class="series--item">
                <img draggable=false class="series--thumbnail" src="../thumb/{{.thumbs_id}}" alt="Pixur {{.pixurs_id}}" style="background-color: {{.average_color()}}">
                <input autocomplete=off type="hidden" name="pixurs_id" value="{{.pixurs_id}}">
                <input autocomplete=off class="series--comment" name="comment" value="{{#.comment}}{{.}}{{/.comment}}" placeholder="Ingen kommentar">
                <button class="series--delete" type=button>❌</button>
                <div class="series--position">
                    Kommentar på
                    <input autocomplete=off type="radio" id="{{.pixurs_id}}-position--top" name="{{.pixurs_id}}--comment-position" value="top" {{#.position_top()?}}checked{{/.position_top()}}>
                    <label for="{{.pixurs_id}}-position--top">toppen</label>
                    <input autocomplete=off type="radio" id="{{.pixurs_id}}-position--center" name="{{.pixurs_id}}--comment-position" value="center" {{#.position_center()?}}checked{{/.position_center()}}>
                    <label for="{{.pixurs_id}}-position--center">midten</label>
                    <input autocomplete=off type="radio" id="{{.pixurs_id}}-position--bottom" name="{{.pixurs_id}}--comment-position" value="bottom" {{#.position_bottom()?}}checked{{/.position_bottom()}}>
                    <label for="{{.pixurs_id}}-position--bottom">bunnen</label>
                </div>
            </li>
        {{/series}}
        </ul>
        <button type=button id="add-photo" class="uploader-form--button">➕ Legg til bilde</button>
        <h2 id="uploader-form--recipients">Hvem vil du dele serien med?</h2>
        <select class="uploader-form--recipients" multiple size="{{recipients.len()}}" autocomplete=off>
            <optgroup disabled hidden></optgroup><!-- iOS bug -->
            {{#recipients}}
            <option value='{{.0}}' {{#.1?}}selected{{/.1}}>{{.0}}</option>
            {{/recipients}}
        </select>
        <!--<button id="uploader-form--add-recipient" class="uploader-form--button" type=button>➕ Legg til en annen</button>-->
        <hr/>
        <button class="uploader-form--button uploader-form--button__default" type="submit">Lagre</button>
    </form>
</article>
<template id="">
    <li draggable=true class="series--item">
        <img draggable=false class="series--thumbnail">
        <input autocomplete=off type="hidden" name="pixurs_id">
        <input autocomplete=off class="series--comment" name="comment" placeholder="Ingen kommentar">
        <button class="series--delete" type=button>❌</button>
        <div class="series--position">
            Kommentar på
            <input id="PIXURS_ID-position--top" name="PIXURS_ID--comment-position" autocomplete=off type="radio" value="top">
            <label for="PIXURS_ID-position--top">toppen</label>
            <input id="PIXURS_ID-position--center" name="PIXURS_ID--comment-position" autocomplete=off type="radio" value="center">
            <label for="PIXURS_ID-position--center">midten</label>
            <input id="PIXURS_ID-position--bottom" name="PIXURS_ID--comment-position" autocomplete=off type="radio" value="bottom" checked>
            <label for="PIXURS_ID-position--bottom">bunnen</label>
        </div>
    </li>
</template>
<script src="../series_editor.js" type="text/javascript" async defer></script>
