<link href="../style.css" rel="stylesheet">
<article>
    <form id=form>
        <ul class="series">
        {{#series}}
            <li draggable=true class="series--item">
                <img draggable=false class="series--thumbnail" src="../thumb/{{.thumbs_id}}" alt="Pixur {{.pixurs_id}}" style="background-color: {{.average_color()}}">
                <input autocomplete=off type="hidden" name="pixurs_id" value="{{.pixurs_id}}">
                <input autocomplete=off class="series--comment" name="comment" value="{{#.comment}}{{.}}{{/.comment}}" placeholder="Ingen kommentar">
                <button class="series--delete" type=button>❌</button>
                <div class="series--position">
                    Kommentar på
                    <input autocomplete=off type="radio" id="{{.pixurs_id}}-position--top" name="{{.pixurs_id}}--comment-position" value="top" {{#.position_top()?}}checked{{/.position_top()}}>
                    <label for="{{.pixurs_id}}-position--top">toppen</label>
                    <input autocomplete=off type="radio" id="{{.pixurs_id}}-position--center" name="{{.pixurs_id}}--comment-position" value="center" {{#.position_center()?}}checked{{/.position_center()}}>
                    <label for="{{.pixurs_id}}-position--center">midten</label>
                    <input autocomplete=off type="radio" id="{{.pixurs_id}}-position--bottom" name="{{.pixurs_id}}--comment-position" value="bottom" {{#.position_bottom()?}}checked{{/.position_bottom()}}>
                    <label for="{{.pixurs_id}}-position--bottom">bunnen</label>
                </div>
            </li>
        {{/series}}
        </ul>
        <button type=button id="add-photo" class="uploader-form--button">➕ Legg til bilde</button>
        <button class="uploader-form--button uploader-form--button__default" type="submit">Lagre</button>
    </form>
</article>
<template id="">
    <li draggable=true class="series--item">
        <img draggable=false class="series--thumbnail">
        <input autocomplete=off type="hidden" name="pixurs_id">
        <input autocomplete=off class="series--comment" name="comment" placeholder="Ingen kommentar">
        <button class="series--delete" type=button>❌</button>
        <div class="series--position">
            Kommentar på
            <input id="PIXURS_ID-position--top" name="PIXURS_ID--comment-position" autocomplete=off type="radio" value="top">
            <label for="PIXURS_ID-position--top">toppen</label>
            <input id="PIXURS_ID-position--center" name="PIXURS_ID--comment-position" autocomplete=off type="radio" value="center">
            <label for="PIXURS_ID-position--center">midten</label>
            <input id="PIXURS_ID-position--bottom" name="PIXURS_ID--comment-position" autocomplete=off type="radio" value="bottom" checked>
            <label for="PIXURS_ID-position--bottom">bunnen</label>
        </div>
    </li>
</template>
<script>
async function saveSeries(series) {
    let res =
        await fetch("", {
            method: 'POST',
            body: JSON.stringify({series}),
            headers: {
                'Content-Type': 'application/json'
            },
            credentials: 'same-origin',
            redirect: 'follow',
        })
        .catch(err => { throw "Noe gikk galt. Er du tilkoblet Internett?" });

    if (!res.ok) {
        throw `Noe gikk galt. Feilkode ${res.status} ${res.statusText}`;
    }

    alert("Lagret ✔");
}

document.getElementById("form").addEventListener('submit', function (ev) {
    ev.preventDefault();
    ev.stopPropagation();

    const series = [];
    for (let item of document.querySelectorAll(".series--item")) {
        const i = {
            pixurs_id: item.querySelector('[name="pixurs_id"]').value,
            comment: item.querySelector('[name="comment"]').value || null,
            comment_position: item.querySelector('[type="radio"]:checked').value,
        };
        series.push(i);
    }

    saveSeries(series)
        .catch(err => alert(err));
});

document.getElementById("form").addEventListener('click', function (ev) {
    if (ev.target.classList.contains("series--delete")) {
        ev.preventDefault();
        ev.stopPropagation();

        const item = ev.target.parentNode;
        const list = item.parentNode;

        list.removeChild(item);
    }
});

document.getElementById("add-photo").addEventListener('click', function (ev) {
    ev.preventDefault();
    ev.stopPropagation();

    const list = document.querySelector(".series");
    const template = document.querySelector("template");

    const pixursId = prompt("Pixur ID");

    const item = template.content.cloneNode(true);
    item.querySelector('input[name="pixurs_id"]').setAttribute('value', pixursId);
    for (let radio of item.querySelectorAll('input[type="radio"]')) {
        radio.id = radio.id.replace("PIXURS_ID", pixursId);
        radio.name = radio.name.replace("PIXURS_ID", pixursId);
    }
    for (let label of item.querySelectorAll('label')) {
        let n = label.getAttribute('for').replace("PIXURS_ID", pixursId);
        label.setAttribute('for', n);
    }

    list.appendChild(item);
});



// Drag sorting due to https://stackoverflow.com/a/28962290
let listRoot = document.querySelector("ul");
let draggedItem;

function dragOver(e) {
    let over = e.target;
    while (over && (over.parentNode !== listRoot)) {
        over = over.parentNode;
    }
    if (!over) return;

    if (isBefore(draggedItem, over)) {
        listRoot.insertBefore(draggedItem, over);
    } else {
        listRoot.insertBefore(draggedItem, over.nextSibling);
    }
}

function dragStart(e) {
    e.dataTransfer.effectAllowed = "move";
    draggedItem = e.target;
    setTimeout(() => draggedItem.classList.add("dragging"), 0);
}

function dragEnd(ev) {
    if (draggedItem) {
        draggedItem.classList.remove("dragging");
        draggedItem = null;
    }
}

function isBefore(el1, el2) {
    if (el2.parentNode === el1.parentNode) {
        for (var cur = el1.previousSibling; cur && cur.nodeType !== 9; cur = cur.previousSibling) {
            if (cur === el2) {
                return true;
            }
        }
    }
    return false;
}

document.addEventListener('dragstart', dragStart);
document.addEventListener('dragover', dragOver);
document.addEventListener('dragend', dragEnd);

</script>
