<article>
{{#claims}}
<h1>Hei {{.sub}} 👋</h1>
{{/claims}}
{{^claims}}
<h1>Ikke innlogget</h1>
{{/claims}}

{{#is_uploader?}}
<form action="img/" method=post enctype="multipart/form-data">
<label for="image">Last opp et bilde: </label><input id="image" name="image" required type="file" accept="image/jpeg">
<button class="input-row input-row--default-button input-row__leftmost input-row__rightmost" type="submit">Last opp</button>
</form>
{{/is_uploader}}

{{#authorized_pixurs?}}
<p>Her er bildene vi har delt med deg</p>
<ul class="thumbnails">
{{#authorized_pixurs}}
    <li class="thumbnails--item"><a class="thumbnails--link" href="{{.0}}"><img class="thumbnails--thumbnail" src="thumb/{{.1}}" alt="Pixur {{.0}}"></a></li>
{{/authorized_pixurs}}
</ul>
</article>
{{/authorized_pixurs}}
