<article>
{{#claims}}
<h1>Hei {{.sub}} 👋</h1>
{{/claims}}
{{^claims}}
<h1>Ikke innlogget</h1>
{{>_login_form.html ..}}
{{/claims}}

{{#is_uploader}}{{>_uploader.html}}{{/is_uploader}}

{{#authorized_pixurs?}}
<h3>Her er bildene vi har delt med deg</h3>
<ul class="thumbnails">
{{#authorized_pixurs}}
    <li class="thumbnails--item"><a class="thumbnails--link" href="{{.0}}"><img class="thumbnails--thumbnail" src="thumb/{{.1}}" data-hr="img/{{.2}}" alt="Pixur {{.0}}"></a></li>
{{/authorized_pixurs}}
</ul>
</article>
{{/authorized_pixurs}}
