<!DOCTYPE html>
<html>
<head>
    <title>pixu.rs</title>
</head>
<body>
    {{#claims}}
    <p>Login: {{.sub}}</p>
    {{/claims}}
    {{^claims}}
    <p>Ikke innlogget.</p>
    {{/claims}}

    <p>Tilgjengelige pixer:</p>
    <ul>
    {{#authorized_pixurs}}
        <li><a href="{{.}}">Pixur {{.}}</a></li>
    {{/authorized_pixurs}}
    </ul>

    <form method="POST">
    Logg inn med nullfaktorautentisering som <input type="text" name="username">
    <button type="submit">Send inn</button>
    </form>
</body>
</html>
