<div class="photo" style="background: {{average_color}}">
    <div class="photo--img-container">
        <div class="photo--img photo--thumbnail" style="background-image: url({{thumb_url}})"></div>
        <div class="photo--img photo--large" style="background-image: url({{large_url}})"></div>
    </div>
</div>
<!--
<div class="photo" style="background: {{average_color}}">
    <div class="photo--img-container">
        <div class="photo--img photo--thumbnail" style="background-image: url({{thumb_url}})"></div>
        <div class="photo--img photo--large" style="background-image: url({{large_url}})"></div>
    </div>
</div>
-->
