body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
    margin: 0;
    padding: 0;
}

article {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 100%;
    max-width: 600px;
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: bold;
    font-size: inherit;
}

/* Login etc */

.input-row {
    display: inline-block;

    font-family: inherit;
    font-size: inherit;

    line-height: 2.5em;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 0;
}

.input-row--input {
    padding-left: 10px;

    width: calc(100% - 130px - 16px);
    max-width: 250px;
}

.input-row--default-button {
    background: #1a73e8;
    border-color: #1a73e8;
    color: white;

    text-align: center;
    width: 130px;
}

.input-row__leftmost {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: none;
}

.input-row__rightmost {
    border-left: none;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.thumbnails {
    list-style: none;
    margin: 0;
    padding: 0;
}

.thumbnails--item {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.thumbnails--thumbnail {
    width: 80px;
    vertical-align: middle;
    border-radius: 6px;
}

/* Uploading */

.uploader-form--button {
    display: inline-block;

    font-family: inherit;
    font-size: inherit;

    line-height: 2.5em;
    margin: 5px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: none;
}

.uploader-form--button:disabled {
    opacity: 0.5;
}

.uploader-form--button__default {
    background: #1a73e8;
    border-color: #1a73e8;
    color: white;
}

.uploader-form--file-input {
    opacity: 0;
    display: inline-block;
    width: 0;
    overflow: hidden;
}

.uploader-form--phase-preview {
    display: none;
}

.uploader-form--phase-details {
    display: none;
}

.uploader-form--recipients {
    width: 100%;
    display: block;

    border: none;
    font-family: inherit;
    font-size: inherit;
}

.uploader-form--preview {
    display: none;

    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

.uploader-form--controls {
    text-align: center;
}

.uploader-form--link {
    /* Reset button styling: */
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    display: inline;

    /* Style like link: */
    text-decoration: underline;
    color: #1a73e8;
    cursor: pointer;
}

.uploader-form--upload-error {
    display: none;

    text-align: center;
}

.uploader-form--status__uploading {
    display: none;
}

.uploader-form--status__uploaded {
    display: none;
}

.email-details {
    border: 1px solid #999;
    border-radius: 6px;
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
    max-height: 0px;
    transition: ease-out 300ms max-height;
}

.email-details.show {
    max-height: 500px;
}

#email-details--title, #email-details--message {
    font: inherit;
    width: 100%;
    box-sizing: border-box;
}

.email-details--preview {
    border-top: 2px solid black;
}

/* Cropping */
.cropping {
    width: calc(100% - 64px);
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;

    line-height: 0;

    position: relative;
}

.cropping--image {
    width: 100%;
    border-radius: 6px;
}

.cropping--guide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border: 0 dashed rgba(255, 255, 255, 0.5);

    background: rgba(0, 0, 0, 0.35);
}

.cropping--guide__left {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    border-right-width: 1px;
}

.cropping--guide__hcenter {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    border-right-width: 1px;

    left: unset;
    right: unset;
    width: 0;

    background: none;
}

.cropping--guide__right {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;

    border-left-width: 1px;
}

.cropping--guide__top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    border-bottom-width: 1px;
}

.cropping--guide__vcenter {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    border-bottom-width: 1px;

    top: unset;
    bottom: unset;
    height: 0;

    background: none;
}

.cropping--guide__bottom {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    border-top-width: 1px;
}

.cropping--handle {
    position: absolute;

    height: 30px;
    width: 30px;

    border: 1px outset #ddd;
    border-radius: 6px;
    background: #ccc;
}

.cropping--handle__active {
    border: 1px solid #ccc;
}

.cropping--handle__left {
    top: calc(100% + 2px);
    right: -1px;

    border-top-right-radius: 0;
}

.cropping--handle__hcenter {
    top: -34px;
    left: -15px;
}

.cropping--handle__right {
    top: calc(100% + 2px);
    left: -1px;

    border-top-left-radius: 0;
}

.cropping--handle__top {
    left: calc(100% + 2px);
    bottom: -1px;

    border-bottom-left-radius: 0;
}

.cropping--handle__vcenter {
    left: -34px;
    top: -15px;
}

.cropping--handle__bottom {
    left: calc(100% + 2px);
    top: -1px;

    border-top-left-radius: 0;
}

.cropping--handle[disabled] {
    border: 1px solid #ccc;
}

.cropping--guide[disabled] {
    border-color: rgba(0, 0, 0, 0);
}

.cropping--uninitialized-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    border-radius: 6px;
    background: rgba(0, 0, 0, 0.35);

    display: none;
}

.cropping__uninitialized .cropping--uninitialized-screen {
    display: block;
}

.cropping__uninitialized .cropping--handle {
    visibility: hidden;
}

.cropping__uninitialized .cropping--guide {
    visibility: hidden;
}

/* Photos */

.photo-list--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.photo-list--top-background, .photo-list--bottom-background {
    flex-grow: 1;
}

.photo-list--list {
    flex-grow: 0;
}

.photo {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.photo--img-container {
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    height: 100%;

    position: relative;
}

.photo--img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.photo--thumbnail {
    filter: blur(1vmax);
}
